{
  "openapi": "3.1.0",
  "info": {
    "title": "小恐龙 API",
    "version": "1.0.0",
    "description": "小恐龙 API OpenAI Responses 兼容接口"
  },
  "servers": [{ "url": "https://api.klong.lat/v1" }],
  "paths": {
    "/responses": {
      "post": {
        "summary": "创建 Responses 响应",
        "description": "使用 OpenAI Responses API 格式创建模型响应。",
        "operationId": "createResponse",
        "tags": ["聊天（Chat）/OpenAI Responses 格式"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponseRequest"
              },
              "example": {
                "model": "gpt-5.5",
                "input": "写一个简短的 API 接入说明"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "模型响应",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseObject"
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer" }
    },
    "responses": {
      "BadRequest": {
        "description": "请求参数错误",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      },
      "Unauthorized": {
        "description": "API Key 无效或未提供",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorResponse" }
          }
        }
      }
    },
    "schemas": {
      "ResponseRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "example": "gpt-5.5"
          },
          "input": {
            "description": "输入文本或消息数组",
            "oneOf": [
              { "type": "string" },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ]
          },
          "stream": {
            "type": "boolean",
            "default": false
          }
        },
        "required": ["model", "input"]
      },
      "ResponseObject": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "object": { "type": "string", "example": "response" },
          "created_at": { "type": "integer" },
          "model": { "type": "string" },
          "output_text": { "type": "string" },
          "output": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": { "type": "string" },
              "type": { "type": "string" },
              "code": { "type": "string" }
            }
          }
        }
      }
    }
  }
}
